/.metadata/
ImHungry2/pom.xml
ImHungry2/.settings/org.eclipse.wst.common.component
ImHungry2/.settings/org.eclipse.jdt.core.prefs
ImHungry2/.classpath
ImHungry14/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
ImHungry2/pom.xml
ImHungry2/src/main/webapp/WEB-INF/web.xml
ImHungry14/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
ImHungry2/pom.xml
ImHungry2/pom.xml
ImHungry14/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
ImHungry2/src/main/webapp/WEB-INF/web.xml
