@charset "UTF-8";

*{
	padding: 0;
}

body {
	background-color: #f5f5f5; 
}

#container{
	display: flex;
	
	#infoDiv{
		flex-basis: 70%;
		padding-left: 2%;
		
		img{
			width: 200px;
		}
		
		a{
			text-decoration: none;
			color: black;
			margin-top: 10px;
			margin-bottom: 10px;
		
		}
		
		#webDiv{
			width: 450px;
			word-wrap: break-word;
		}
	}
	
	#buttonDiv{
		flex-basis: 30%;
		padding-top: 2%;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		.button{
			padding: 3px 5px;
			width: 40%;
			font-size: 20px;
			margin-bottom: 6%;
			background-color: white;
			border-radius: 2px;
		}
		.menu{
			width: 40%;
		}
		
	}
	
	#instructionsList{
		list-style-type: none;
	}
}

@media(max-width: 500px){
	.button{
		font-size: 10px !important;
	}
	#webDiv{
		width: 250px !important;
	}
}