@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
}
body {
	background-color: #f5f5f5;
}
#topDiv{
	height: 400px;
	width: 100%;
	display:flex;
	
	#collageDiv {
		margin-top: 3%;
		margin-left: 6%;
		width: 60%;
		display: flex;
		flex-wrap: wrap;
		height: 300px;
		justify-content: space-around;
		.collageImg{
			width: 150px;
			height: 50%;
		}
	}
	
	#buttonDiv{
		display: flex;
		width: 30%;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-evenly;
		
		.menu{
			width: 40%;
		}
		.button{
			padding: 3px 5px;
			width: 40%;
			font-size: 20px;
			margin-bottom: 6%;
			background-color: white;
			border-radius: 2px;
		}
		 
	} 
	
}

#titleDiv{
	text-align: center;
	
	h1{
		font-size: 2.7em;
	}
}

#listTitleDiv{
	display: flex;
	justify-content: space-evenly;
	padding-top: 3%;
	.name{
		width: 50%;
		text-align: center;
		font-size: 2.2em;
	}
}
#resultDiv{
	display: flex;
	width: 100%;
	#restuarantName, #recipeName{
		display: none;
	}
	
	/*height: 500px;*/
	#restaurantDiv{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		/* height: 500px; */

		.restaurantCard{
			margin-top: 3%;
		}
		.restaurantCard:nth-child(even){
			background-color: #B8B8B8;

		}
		.restaurantCard:nth-child(odd){
			background-color: #787878;
			
		}
	}
	#recipeDiv{
		width: 50%;
		/* height: 500px; */
		display: flex;
		flex-direction: column;
		align-items: center;
		
		.recipeCard{
			margin-top: 3%;
		}
		.recipeCard:nth-child(even){
			background-color: #B8B8B8;

		}
		.recipeCard:nth-child(odd){
			background-color: #787878;
			
		}
	}
}

.recipeCard{
	
	width: 400px;
	height: 100px;
	p:nth-child(2){
		float: left;
		position: relative;
		top: 60px;
	}
	p:nth-child(3){ 
		float: right;
		position: relative;
		top: 60px;
	}
}


.restaurantCard{
	width: 400px;
	height: 100px;
	display: flex;
	
	.information{
		height: 100px;
		flex: 1 1 80%;
		 p:nth-child(2){ 
			margin-bottom: 8px;
		}
		p:nth-child(1){ 
			margin-bottom: 8px;
		}  
	}
	
	.priceDiv{
		height: 100px;
		flex: 1 1 20%; 
		display: flex;
		align-items:center;
		justify-content: center;
		border-left: 2px solid black;
	}
}

@media(max-width: 767px){
	#listTitleDiv{
		visibility: hidden;
	}
	
	
	#topDiv{
		height: 200px;
		
		#collageDiv{
			height: 150px;
			
			.collageImg{
				width: 80px;
				height: 30%;
			}
			
		}
		#buttonDiv{
			.button{
				font-size: 10px;
			}
		}
	}
	
	#resultDiv{
		flex-direction: column;
		align-items: center;
		#restaurantDiv{
			width: 100%;
		}
		#recipeDiv{
			width: 100%;
		}
		#restuarantName, #recipeName{
			display: block;
			font-size: 1.8em;
			font-weight: bold;
		}
		
	}
}