@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
}
body {
	background-color: #f5f5f5;
}
#topDiv{
	height: 400px;
	width: 100%;
	display:flex;
	
	#collageDiv {
		margin-top: 3%;
		margin-left: 6%;
		width: 60%;
		display: flex;
		flex-wrap: wrap;
		height: 300px;
		justify-content: space-around;
		.collageImg{
			max-width: 180px;
			max-height: 50%;
		}
	}
	
	#buttonDiv{
		display: flex;
		width: 30%;
		flex-direction: column;
		align-items: flex-end;
		
		.button{
			padding: 3px 5px;
			width: 40%;
			font-size: 20px;
			margin-bottom: 6%;
			background-color: white;
			border-radius: 2px;
		}
		 #dropdown{
			margin-top: 4%;
			content: " ";
			width: 40%;
			padding: 3px 0px 3px 1px;
			border: 1px solid black;
			background-color: white;
			
			#dropAction{
				float: right;
				margin-right: 5%;
			}
			
			#dropText{
				float: left;
			}
		}
		#dropdownContent{
			display: flex;
			width: 40%;
			margin-bottom: 15px;
			visibility: hidden;
			ul{
				background-color: white;
				width: 100%;
				list-style-type: none;
				li{
					align-self: flex-start;
					
					&:hover{
						background-color: rgba(129, 207, 224, .7);
					}
				}
			}
		}
	} 
	
}

#titleDiv{
	text-align: center;
	
	h1{
		font-size: 2.7em;
	}
}

#listTitleDiv{
	display: flex;
	justify-content: space-evenly;
	padding-top: 3%;
	.name{
		width: 50%;
		text-align: center;
		font-size: 2.2em;
	}
}
#resultDiv{
	
	#restuarantName, #recipeName{
		display: none;
	}
	display: flex;
	width: 100%;
	/*height: 500px;*/
	#restaurantDiv{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		/* height: 500px; */
		overflow-y: scroll;
		.recipeCard{
			margin-top: 3%;
		}
		.recipeCard:nth-child(even){
			background-color: #B8B8B8;

		}
		.recipeCard:nth-child(odd){
			background-color: #787878;
			
		}
	}
	#recipeDiv{
		width: 50%;
		/* height: 500px; */
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		.recipeCard{
			margin-top: 3%;
		}
		.recipeCard:nth-child(even){
			background-color: #B8B8B8;

		}
		.recipeCard:nth-child(odd){
			background-color: #787878;
			
		}
	}
}

.recipeCard{
	
	width: 400px;
	height: 100px;
	p:nth-child(2){
		float: left;
		position: relative;
		top: 60px;
	}
	p:nth-child(3){ 
		float: right;
		position: relative;
		top: 60px;
	}
}


.restaurantCard{
	
}

@media(max-width: 767px){
	#listTitleDiv{
		visibility: hidden;
	}
	
	
	#topDiv{
		height: 200px;
		#collageDiv{
			height: 150px;
			
			.collageImg{
				max-width: 80px;
				max-height: 35%;
			}
			
		}
	}
	
	#resultDiv{
		flex-direction: column;
		#restaurantDiv{
			width: 100%;
		}
		#recipeDiv{
			width: 100%;
		}
		#restuarantName, #recipeName{
			display: block;
			font-size: 1.8em;
			font-weight: bold;
		}
	}
}