<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>YelpResults</servlet-name>
  	<display-name>YelpResults</display-name>
  	<description></description>
  	<servlet-class>yelp.YelpResults</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>restaurantData</servlet-name>
  	<display-name>restaurantData</display-name>
  	<description></description>
  	<servlet-class>yelp.restaurantData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddToListData</servlet-name>
  	<display-name>AddToListData</display-name>
  	<description></description>
  	<servlet-class>listMgmt.AddToListData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoadList</servlet-name>
  	<display-name>LoadList</display-name>
  	<description></description>
  	<servlet-class>listMgmt.LoadList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MoveToListData</servlet-name>
  	<display-name>MoveToListData</display-name>
  	<description></description>
  	<servlet-class>listMgmt.MoveToListData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>restaurantMgmt</servlet-name>
  	<display-name>restaurantMgmt</display-name>
  	<description></description>
  	<servlet-class>yelp.restaurantMgmt</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>YelpResults</servlet-name>
  	<url-pattern>/YelpResults</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>restaurantData</servlet-name>
  	<url-pattern>/restaurantData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddToListData</servlet-name>
  	<url-pattern>/AddToListData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadList</servlet-name>
  	<url-pattern>/LoadList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MoveToListData</servlet-name>
  	<url-pattern>/MoveToListData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>restaurantMgmt</servlet-name>
  	<url-pattern>/restaurantMgmt</url-pattern>
  </servlet-mapping>
</web-app>
