/* line 3, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 8, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
body {
  background-color: #f5f5f5;
}

/* line 11, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
body h1 {
  padding-left: 4%;
  padding-top: 2%;
}

/* line 17, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
#container {
  display: flex;
  width: 100%;
}

/* line 20, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
#container #cardDiv {
  width: 80%;
  display: flex;
  flex-direction: column;
}

/* line 26, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
#container #buttonDiv {
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: center;
}

/* line 32, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
#container .button {
  padding: 3px 5px;
  width: 145px;
  font-size: 20px;
  margin-bottom: 6%;
  background-color: white;
  border-radius: 2px;
}

/* line 41, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
#container .menu {
  width: 145px;
}

/* line 46, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
#container #cardDiv .row {
  display: flex;
  padding-left: 5%;
  margin-top: 1%;
}

/* line 51, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
#container #cardDiv .row .buttons {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}

/* line 56, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
#container #cardDiv .row .buttons button {
  padding: 3px 5px;
  width: 145px;
  font-size: 20px;
  margin-bottom: 6%;
  background-color: white;
  border-radius: 2px;
}

/* line 68, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
#container #cardDiv .row:nth-child(even) .recipeCard, #container #cardDiv .row:nth-child(even) .restaurantCard {
  background-color: #B8B8B8;
}

/* line 73, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
#container #cardDiv .row:nth-child(odd) .recipeCard, #container #cardDiv .row:nth-child(odd) .restaurantCard {
  background-color: #787878;
}

/* line 79, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
.recipeCard {
  width: 400px;
  height: 100px;
}

/* line 83, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
.recipeCard p:nth-child(2) {
  float: left;
  position: relative;
  top: 60px;
}

/* line 88, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
.recipeCard p:nth-child(3) {
  float: right;
  position: relative;
  top: 60px;
}

/* line 96, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
.restaurantCard {
  width: 400px;
  height: 100px;
  display: flex;
}

/* line 101, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
.restaurantCard .information {
  height: 100px;
  flex: 1 1 80%;
}

/* line 104, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
.restaurantCard .information p:nth-child(2) {
  margin-bottom: 8px;
}

/* line 107, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
.restaurantCard .information p:nth-child(1) {
  margin-bottom: 8px;
}

/* line 112, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
.restaurantCard .priceDiv {
  height: 100px;
  flex: 1 1 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid black;
}

@media (max-width: 700px) {
  /* line 124, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
  #cardDiv .row {
    display: flex;
    flex-direction: column;
  }
  /* line 128, /Users/stevenmarsh/Documents/GitHub/ImHungry14/ImHungry2/src/main/webapp/sass/listmgmt.scss */
  #cardDiv .row .buttons {
    flex-direction: row !important;
    padding-left: 0% !important;
  }
}

/*# sourceMappingURL=../css/listmgmt.map */